/* *{border: 2px solid palegreen;} */

body {
    background-color: #403e39; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("../images/tlo6.png");
}

@font-face {
    font-family: font;
    src: url("font.ttf");
}

/*HEADER*/
.header-img {
    background-image: url("../images/tlo.jpg");
    max-width: 100vw;
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 4rem 0 5rem 0;
    overflow: hidden;
}

.main {
    max-width: 100vw;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*BUTTONS*/
.button-section {
    height: 75vh;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2rem 0 2rem;
}
@media only screen and (max-width: 1120px) {
    .button-section {
        flex-direction: column;
        max-height: 110px;
        width: 400px;
    }
}

.button {
    height: 100px;
    width: 100px;
    justify-content: center;
    background-color: #288e9d;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;   
    margin-top: 25px;
} 

@media only screen and (max-width: 900px) {
    .button {
        flex-direction: column;
        justify-content: start;
        height: 80px;
        width: 80px;
    }
}

.button-clear {
    background-color: #398b7c;
}

.button-save { 
    background-color: #398b7c;
    border: 2px solid #f1f1f1;
}

.button-size {
    background-color: #5eb3ac;
}

.button-ink {
    background-color: #43a5ad;
}

.icon {
    font-size: 3rem;
    color: #f1f1f1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/*INPUTS*/
.input-range-div {
    position: absolute;
    top: 110px;
    left: 0;
    display: none;
}
input[type=range] {
    width: 90%;
    background: #d5e0de;
  }

  input[type=range]:focus {
    outline: none; 
  }

/*CANVAS*/
.canvas {
    display: flex;
    width: 60vw;
    height: 75vh;
    background: url(../images/canvas-bg.png) repeat center fixed;
    background-color: white;
    border: 2px solid rgb(63, 63, 63);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
    justify-content: center;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .canvas {
        width: 90vw;
    }
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: 'font';
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0 0 4rem 0;
}

@media only screen and (max-width: 1000px) {
    h1 {
        margin-top: 4rem;
    }
}

.gallery {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    width: 400px;
    height: 250px;
    margin: 20px;
    background-color: white;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

/*TOOLTIPS*/
[tooltip]{
    position:relative;
    display:inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
    left:0%;
    top:50%;
    margin-left:-12px;
    transform:translatey(-50%) rotate(-90deg) 
}

[tooltip-position='right']::before{
    left:100%;
    top:50%;
    margin-left:1px;
    transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
    left:0%;
    top:50%;
    margin-left:-8px;
    transform: translateX(-100%)   translateY(-50%);
}

[tooltip-position='right']::after{
    left:100%;
    top:50%;
    margin-left:8px;
    transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
    opacity:1
}